
backend/.venv/

backend/**/__pycache__/
backend/**/*.py[cod]

backend/data/.shared_cache/

backend/data/donnees_generees.csv
backend/data/donnees_generees.parquet

backend/reports/figures/
backend/reports/pdf/

frontend/node_modules/

frontend/css/tailwind.css

documentation_technique.md